:root {
    --light-yellow: #FFE58A;
    --yellow: #FFCE61;
    --orange: #EE6C45;
    --dark-pink: #BF3475;
    --dark-purple: #50366F;
    --dark-blue: #1F214D;
}

.custom-bg {
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background-color: var(--dark-purple);
}

.form-control {
    background-color: var(--dark-blue);
    border-radius: 30px;
    border-color: var(--dark-blue);
    color: white;
}

.form-control:focus {
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    color: white;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px var(--dark-blue) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.btn-primary {
    background-color: #BF3475;
    border-radius: 30px;
    border-color: #BF3475;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    border-radius: 30px;
    background-color: var(--dark-pink);
    border-color: var(--dark-pink);
}

.btn-link {
    color: var(--dark-purple);
}

.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link:active:focus, .btn-link.active, .open > .dropdown-toggle.btn-link {
    color: var(--dark-purple);
}
.btn-secondary {
    background-color: transparent;
    border-radius: 30px;
    border-color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-hidden {
    background-color: transparent;
    border-radius: 30px;
    border-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
}

.bg-purple {
    background-color: var(--dark-purple);
}

.subheader {
    color: white;
    font-size: 20px;
    padding: 15px;
}
.paragraph {
    color: white;
    font-size: 20px;
}

.corner-round {
    border-radius: 20px;
}