:root {
    --light-yellow: #FFE58A;
    --yellow: #FFCE61;
    --orange: #EE6C45;
    --dark-pink: #BF3475;
    --dark-purple: #50366F;
    --dark-blue: #1F214D;
}

nav {
    background: var(--dark-purple);
    border-bottom: var(--dark-pink) solid 10px;
    height: 100px;
}

.custom-bg {
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background-color: var(--dark-purple);
    border-radius: 20px;
}

.form-control {
    background-color: var(--dark-blue);
    border-radius: 30px;
    border-color: var(--dark-blue);
    color: white;
}

.form-control:focus {
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    color: white;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px var(--dark-blue) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.btn-primary {
    background-color: var(--dark-pink);
    border-radius: 30px;
    border-color: var(--dark-pink);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

/* 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary.active, .open > .dropdown-toggle.btn-primary 
*/
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
    background-color: var(--dark-pink);
    border-color: var(--dark-pink);
}

.unselected {
    background-color: transparent;
    border: none;
}

.bg-dark {
    background: var(--dark-blue) !important;
}

.btn-outline-primary {
    color: white;
    border-color: var(--dark-pink);
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.btn-outline-primary:hover {
    background-color: var(--dark-pink);
    border-color: var(--dark-pink);
}

#groupContainer {
    margin-left: 30px;
    margin-right: 30px;
}

.group-card {
    width: 300px;
    margin: 20px;
    cursor: pointer;
}